* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  background-image: url("./img/food2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: brightness(88%);
}

.form-container {
  z-index: 1;
  background: #fff;
  /* border-radius: 8px; */

  min-height: 640px;
  min-width: 450px;

  /* border: 1px black solid; */
  box-shadow: 0px 8px 8px rgb(0, 0, 0);
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */

  /* position: absolute; */
}

.form {
  /* justify-content: center; */
  height: 30%;
  min-width: 100%;
}

.header {
  background: rgb(41, 123, 41);
  text-shadow: 0px 2px 2px #000;

  width: 100%;
  height: 6rem;
  font-size: 2.5rem;
  font-weight: bold;
  /* color: rgb(89, 35), 125; */
  color: rgb(253, 255, 253);

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  min-height: 420px;
  /* width: 100%; */
  flex-direction: column;

  justify-content: space-around;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.input-div label {
  color: rgb(8, 79, 8);
}

input::placeholder {
  color: rgb(180, 180, 180);
}

.input-div input {
  width: 14rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 17px;
  color: red;
  background: rgb(242, 242, 242);
  border: 2px solid rgb(6, 22, 6);
}

.submit-btn {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 8.4rem;
  letter-spacing: 1px;

  width: 40%;
  height: 3rem;
  margin-top: 1.9rem;
  background: green;
  color: rgb(253, 255, 253);
  font-size: 22px;
  border: none;
  box-shadow: 0px 1px 4px rgb(0, 0, 0);

  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: inset 0 0 300px 0 #000;
  color: #fff;
}
